@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Lato:400,400i,700&display=swap');


/*Navbar*/
.brand {
  display: flex;
  flex-direction: column;
}
.logo {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top:0px;
    margin-bottom: 4px;
    font-family: Inconsolata, monospace;
    color: #000026;
    font-size: 20px;
    font-weight: 400;
    z-index: 20;
}
.navbar {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 10;
    height: 80px;
    padding-right: 4%;
    padding-left: 4%;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.logo-line {
    display: inline-block;
    width: 96px;
    height: 2px;
    margin: 0px 0px;
    background-color: #0554f2;
}


.containermain {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 40px 0 0 0;

}
.container {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(10, 4fr);
  grid-template-rows: repeat(7, 3fr);
  grid-gap: 5px;
}

img {
  height: 98px;
  width: 130px;
  z-index: 4;
  position: absolute;
}

.image2 {
  height: 98px;
  width: 130px;
  z-index: 3;
  position: absolute;
}

video {
  height: 98px;
  width: 130px;
  z-index: 2;
  position: absolute;
}

.d1{
  align-self: start | end | center | stretch;
  background: "";
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

h4 {
  color: #000026;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  margin: 20px 0px 20px 60px;
  transition: all 0.8s ease-in-out;
}

.footer {
    margin: 0 0 0 0;
    position: absolute;
    width: 100%;
    bottom: 5px;
    display: flex;
    padding: 0px;
    background-color: #f7f7f7;
    border-top: 1px solid #e2e3e7;
}
